<div class="artist">
  <h2>{{model.name}}</h2>
  <h3>Founding Year: {{model.foundingYear}}</h3>
  <p>Location: {{model.basedIn}}</p>
  <p>Total Albums Sold: {{model.totalAlbumsSold}}</p>
  <hr>
  <h3 class="section-heading">Albums:</h3>
  <ul class="albums-list">
    {{#each model.albumIds as |album|}}
      {{#link-to 'albums.album' album}}
        <li class="album-item">{{album.name}}</li>
      {{/link-to}}
    {{/each}}
  </ul>
</div>
