<div class="album">
  <h2>{{model.name}}</h2>
  <h3>Artist: {{#link-to 'artists.artist' model.artistId class="artist-link"}}{{model.artistId.name}}{{/link-to}}</h3>
  <p>Release Year: {{model.year}}</p>
  <p>Total Copies Sold: {{model.totalSold}}</p>
  <button type="button" {{action 'createComment'}}>New Comment</button>
  <hr>
  {{#if newComment}}
    <div class="">
      <label class="form-label">Author</label>
      {{input value=commentAuthor placeholder="Enter name..."}}
    </div>
    <div class="">
      <label class="form-label">Message</label>
      {{textarea rows=4 value=commentMessage placeholder="Enter message..."}}
    </div>
    <button type="button" {{action 'addComment' model}} disabled={{isNotValid}}>Save</button>
    <hr>
  {{/if}}
  <h3 class="section-heading">Comments:</h3>
  <div class="comments-list">
    {{sorted-comments comments=model.commentIds action='deleteComment'}}
  </div>
</div>
