<section>
  <p class="details">Total Artists: {{artistsTotal}}</p>
  <p class="details">Total Albums: {{albumsTotal}}</p>
  <hr>
  <h2>Album and Artist Details:</h2>
  <div class="container">
    <div class="bar-chart">
      <h4 class="heading">Available Albums By Year:</h4>
      {{year-chart data=totalAlbumsByYear}}
    </div>
    <div class="home-list">
      <h4>Available Albums By Year:</h4>
      <ul class="">
        {{#each-in totalAlbumsByYear as |year total|}}
          <li>{{#link-to 'albums' (query-params yearFilter=year per_page=albumsTotal)}}{{year}}{{/link-to}}: {{total}}</li>
        {{/each-in}}
      </ul>
    </div>
    <div class="home-list">
      <h4>Locations for available Artists:</h4>
      <ul class="">
        {{#each uniqArtistLocations as |location|}}
          <li>{{#link-to 'artists' (query-params locationFilter=location per_page=artistsTotal)}}{{location}}{{/link-to}}</li>
        {{/each}}
      </ul>
      <hr>
      <h4>Top Selling Artists:</h4>
      <ul>
        {{#each popularArtists as |artist|}}
          <li>{{#link-to 'artists.artist' artist}}{{artist.name}}{{/link-to}} | {{artist.totalAlbumsSold}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

</section>
{{outlet}}
